body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

svg {
  width: 900px; /* 3x original */
  height: 600px;
}

rect {
  fill: #b7d1b0;
  rx: 8;
  ry: 8;
}

#calculator-input, #calculator-output {
  margin-top: 20px;
  text-align: center;
}

#square-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}